<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
<!--  <link rel="stylesheet" href="/css/style.css">-->
  <title>Title</title>
</head>
<button class="btn-silver" onclick="saveReq()">글작성</button>
<section class="notice">
<body>
<div class="search-window">
    <a th:href="@{/board/paging(orderby=boardHits)}">조회순</a>
    <a th:href="@{/board/paging(orderby=id)}">최신순</a>
</div>
<div id="board-list">
    <div class="container">
        <table class="board-table">
            <thead>
            <tr>
                <th scope="col" class="th-num">id</th>
                <th scope="col" class="th-title">제목</th>
                <th scope="col" class="th-title">| 없는 제목</th>
                <th>writer</th>
                <th scope="col" class="th-date">등록일</th>
                <th>hits</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board: ${boardList}">
                <td th:text="${board.id}"></td>
                <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.boardTitle}"></a></td>
                <td><a th:href="@{/board/${board.id}(page=${boardList.number + 1})}" th:text="${board.boardTitle}"></a></td>
                <td th:text="${board.boardWriter}"></td>
                <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${board.boardHits}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- 첫번째 페이지로 이동 -->
<!-- /board/paging?page=1 -->
<!--<a th:href="${boardList.number==0} ? '#' : @{/board/paging(page=1)}">First</a>-->
<a th:href="@{/board/paging(page=1,orderby=${orderCriteria})}">First</a>

<!-- 이전 링크 활성화 비활성화 -->
<!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number},orderby=${orderCriteria})}">prev</a>
<!--<a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>-->

<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)-->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
  <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == boardList.number + 1}">
        <a th:href="@{/board/paging(page=${page},orderby=${orderCriteria})}" th:text="${page}"></a>
    </span>
</span>

<!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2},orderby=${orderCriteria})}">next</a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{/board/paging(page=${boardList.totalPages},orderby=${orderCriteria})}">Last</a>

</body>
</section>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }

</script>
</html>